body{
    font-family: Arial;
    background-color: antiquewhite;
}

h1,h3{
    text-align: center;
}

#s1{
    background: white;
    width: 500px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
}
button{
    background: black;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}
img{
    width: 150px;
    border-radius: 10px;
}

#imgcon {
    display: flex;
    justify-content: center; 
    align-items: center;            
}